<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA92jI4VY39WluohrB8rjh92uWW342sZYU</string>
	<key>GCM_SENDER_ID</key>
	<string>880723753619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinalProjectTestingOpenfoodfacts</string>
	<key>PROJECT_ID</key>
	<string>openfoodfacts-testing-ci-cd</string>
	<key>STORAGE_BUCKET</key>
	<string>openfoodfacts-testing-ci-cd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880723753619:ios:ea259000e86bc4370aab66</string>
</dict>
</plist>