name: Android prod CI
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.0'

      - name: Install dependencies
        run: flutter pub get
      - name: Run analysis
        run: flutter analyze
      - name: Run tests
        run: flutter test